@{
ViewData["Title"] = ViewBag.UserName??"Home Page";
(ModelsLibrary.Language language,object Models)=(ValueTuple<ModelsLibrary.Language,object>)Model;
    try{ 
        var languageIndex=(ModelsLibrary.Language.Index)language[nameof(ModelsLibrary.Language.Index)];
    }catch(Exception ex){
    <script>
        console.log('@ex.Message')
    </script>
    }
}

    <div class="text-center">



    </div>