@{
    var test=ViewBag.lang;
    var languageIndex=(Language.Index)Utils.Languages[ViewBag.lang][nameof(Language.Index)];
ViewData["Title"] = ViewBag.UserName??"Home Page";
    
}

    <div class="text-center">
        @* <img src="~/src/img/logo.png" alt="">
        <img src="~/src/img/logo.png" alt="">
        <img src="../../../MyPersonalWeb/wwwroot/src/img/big.jpg" alt=""> *@

    </div>
    