@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1>
   用户名： @TempData["username"]
</h1>
<h1>
    密码：@TempData["password"]
</h1>
