@charset "utf-8";
:root {
    --theme-color-opaque: #b9b9ff;
    --theme-color-transparent-90: #b9b9ffe3;
    --box-shadow: -3px 5px 10px #00000029;
    --wait-animotion: 999;
    --header-bar-bcgcolor: #ffffffe6;
    --dot-color: #7a62ff;
    --text-focus-border: #7f7ff3;
    --progressbar-backcolor: #8b8bff;
    --language-color: plum;
    --keywords-color: orange;
}
.searched-keywords {
    margin-top: 10px;
    text-align: center;
}

.searched-keywords>div {
    display: inline-block;
}

.searched-keywords .search-option {
    bottom: 0;
}

.searched-keywords .search-icon>i {
    top: 4px;
    left: -40px;
    border-width: 2px;
}

.searched-keywords .search-icon>i::before {
    width: 2px;
}

/* #region searched results */
.searched-results {
    width: 80vw;
    overflow: hidden;
    margin: 0 auto;
}

.searched-results .searched-result {
    text-overflow: ellipsis;
    margin-top: 20px;
}

.searched-results .searched-result .result-title {
    width: 60vw;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.searched-result .result-title a,
.searched-result .result-title span {
    font-size: 18px;
}

.searched-results .result-title:hover,
.searched-result .result-title a:hover span {
    color: var(--dot-color);
}

.searched-results .result-title:link{
    color: rgba(255, 166, 0, 0.7);
}
.searched-results .result-title a:link span{
    color: rgba(0, 0, 0, 0.7);
}

.searched-results .searched-result article {
    width: 80vw;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
}

.searched-result .result-author {
    margin-top: 3px;
    font-size: 13px;
    color: gray;
}

.result-author time {
    font-size: 12px;
    margin-left: 5px;
}

.searched-results .searched-result article,
.searched-results .searched-result article span {
    font-size: 14px;
}

.searched-results .searched-result span {
    color: var(--keywords-color);
}

/* #endregion  */