@{
    var languageSearched=(Language.Searched)Utils.Languages[ViewBag.lang][nameof(Language.Searched)];
    ViewData["Title"] = ViewBag.UserName??Model;
}
<h1 style="display: none;"></h1>
<div>
   

</div>