@{ 
    ViewData["Title"] = ViewBag.UserName??"";
    (ModelsLibrary.Language language,object Models)=(ValueTuple<ModelsLibrary.Language,object>)Model;
    try{ 
        var languageSearched=(ModelsLibrary.Language.Searched)language[nameof(ModelsLibrary.Language.Searched)];
    }catch(Exception ex)
    {
    <script>
        console.log('@ex.Message')
    </script>
    }
}
<div>
    successed!

</div>