@{
    try {
        @* ViewData["Title"] = ViewBag.UserName??throw new Exception(); *@
    } catch {
        throw;
    }
    (ModelsLibrary.Language language,object Models)=(ValueTuple<ModelsLibrary.Language,object>)Model;
    try{ 
        var languageProfile=(ModelsLibrary.Language.Profile)language[nameof(ModelsLibrary.Language.Profile)];
    }catch(Exception ex){
    <script>
        console.log('@ex.Message')
    </script>
    }
}
<div class="profile-container">
    <aside class="left-aside">
<div>
    <div><img src="~/src/img/logo.png" alt="用户：@ViewBag.UserName"></div>
    <div>
        用户：<a href="/@ViewBag.lang/profile/profile">@ViewBag.UserName</a>
    </div>
   <div><a href=""></a></div>
   <div><a href=""></a></div>
   <div><a href=""></a></div>
   <div><a href=""></a></div>
   <div><a href=""></a></div>
   <div><a href=""></a></div>
</div>
    </aside>
    <div class="center-context">




    </div>
    <aside class="right-aside">
@* messages from server *@
    </aside>
</div>