@charset "utf-8";

:root {
    --box-shadow-around: 0px 0px 20px #00000029;
    --theme-color-opaque: #b9b9ff;
    --focus-backcolor: #8b8bff;
    --transparent: transparent;
}
.searched-results .searched-result .result-title {
    width: 75vw;
}