@charset "utf-8";

:root {
    --box-shadow-around: 0px 0px 20px rgba(0, 0, 0, 0.16);
    --theme-color-opaque: rgb(185, 185, 255);
    --focus-backcolor: rgb(139, 139, 255);
    --transparent: transparent;
}