@charset "utf-8";
:root {
    --theme-color-opaque: rgb(185, 185, 255);
    --theme-color-transparent-90: rgb(185, 185, 255, 0.89);
    --box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.16);
    --wait-animotion: 999;
    --header-bar-bcgcolor: rgba(255, 255, 255, 0.9);
    --dot-color: rgb(122, 98, 255);
    --text-focus-border: rgb(127, 127, 243);
    --progressbar-backcolor: rgb(139, 139, 255);
    --language-color: plum;
    --keywords-color: orange;
}
